*baf text eol=lf
*d text eol=lf
*md text eol=lf
*txt text eol=lf
*tp2 text eol=lf
*tpa text eol=lf
*tph text eol=lf
*tra text eol=lf
*ini text eol=lf
*bam binary
*bcs binary
*cre binary
*itm binary
*pro binary
*spl binary
*vvc binary
*wav binary
